body {
  font-family: "Patua One", cursive;
}

.container {
  max-width: min(95vw, 1500px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Alata", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("src/assets/group-portrait-adorable-puppies.jpg");
  background-color: #d4e5f3;
  background-size: cover;
  background-position: center top;
  min-height: min(550px, 85vh);
}

.header select {
  font-size: 24px;
  font-family: "Alata", sans-serif;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: clamp(32px, 10vw, 72px);
  text-transform: uppercase;
  text-align: center top;
  letter-spacing: 5px;
}

.dogs-details:not(:empty) {
  border: 8px solid rgba(45, 167, 253, 0.5);
  box-shadow: 0 0 30px rgba(45, 167, 253, 0.5);
  padding: 2rem;
  border-radius: 20px;
  width: fit-content;
  display: grid;
  justify-items: center;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
